* {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.1;
  }
  
  html {
  
  }

  .intro-loss-container {

  }
  
  .win-container {
    display: none;
  }
  @media screen and (max-width: 992px) {
  
  }
  
  @media screen and (max-width: 768px) {
  
  }
  