* {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.1;
  }

  header {
    display: flex;
    justify-content: space-between;
    margin: 8px;
  }

  header section button {
    border: none;
    background-color: white;
    color: indigo;
    font-size: 18px;
    font-weight: 600;
  }

  header section button:hover {
    text-decoration: underline;
  }

  header aside {
    font-size: 18px;
    font-weight: 600;
  }

  main {
    margin: 100px 25%;
    text-align: center;
  }

  main h1 {
    margin: 16px;
    font-size: 32px;
    font-weight: 600;
  }

  main button {
    margin: 20px;
    padding: 4px;
    font-size: 20px;
    font-weight: 400;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    background-color: indigo;
  }

  main button:hover {
    padding: 2px;
    border: 3px solid black;
  }

  main p {
    font-size: 20px;
    font-weight: 300;
  }

  main h2 {
    margin: 16px;
    font-size: 32px;
    font-weight: 600;
  }

  main form {
    margin: 16px;
    font-size: 20px;
    padding: 3px;
  }

  .answers button {
    margin: 5px auto;
    display: none;
  }

  .win-container {
    display: none;
  }

  #submit {
    padding: 4px;
    font-size: 20px;
    font-weight: 400;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    background-color: indigo;
  }

  #submit:hover {
    padding: 2px;
    border: 3px solid black;
  }

  #wrong {
    display: none;
  }

  #right {
    display: none;
  }
  
  @media screen and (max-width: 576px) {
  
  }
  